
<mat-toolbar class="pwc-bk-color">

   <div class="pwc-icon">
     <a>PWC</a>
   </div>

   <span class="example-spacer text-center"> Pwc Complaint Portal System</span>

  <ul *ngIf="isAuthenticatedUser">
    <li>
        <a mat-raised-button class="nav-icons">{{userEmail}}</a>
    </li>

    <li>
      <a mat-raised-button class="nav-icons" (click)="logout()">Logout</a>
    </li>
  </ul>

  <ul *ngIf="!isAuthenticatedUser">
    <li>
      <a mat-raised-button class="nav-icons" (click)="toLoginPage()">Login</a>
    </li>

    <li>
      <a mat-raised-button class="nav-icons" (click)="toSignupPage()">Signup</a>
    </li>
  </ul>

</mat-toolbar>
