mat-toolbar{
  background: #fff;
  color:white;
}
.pwc-bk-color{
  background-color: #363636;
}
.pwc-icon {
  width: 12%;
  height: 37px;
  margin-left: 40px;
}
.email-span{margin-right: 10px;
  line-height: 40.5px}
.example-spacer {
  flex: 1 1 auto;
}
.nav-icons{
  margin:5px;
}

ul{
  display: flex;
  margin:auto 0;
}
ul > li{
  list-style: none;
}


