<div class="form-container">

  <div class="overlay"></div>
  <section  class="d-flex flex-column justify-content-end align-items-center">
    <div class="desc-section">
      <h1 class="text-center text-white-50">Complaint Portal System</h1>
    </div>
    <div  class="container " data-bs-ride="carousel">
      <router-outlet class="m-5"></router-outlet>
    </div>
  </section>


  <div class="registration-buttons flex-column">
    <div class="login-side w-50">
      <a mat-button routerLink = '/registration/login' routerLinkActive="active">Log in</a>
    </div>
    <div class="signup-side w-50">
      <a mat-button mat-raised-button routerLink = "/registration/signup" routerLinkActive="active">Register</a>
    </div>
  </div>

</div>

